<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../static/css/basic.css">
    <link rel="stylesheet" href="../static/bundle.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="../static/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/addition.css">

    <script src="../static/bundle.js"></script>
    <!-- <script src="../static/js/dataTables.bootstrap.min.js"></script> -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>
<body>
<div class='header'>CharDB: {{title}} (Data version: 2017-3-16 ; Program version: 2025-12-23)</div>

    {% block body %}
    {% endblock %}

</body>

<footer>Copyright © 2017 Jinbiao Yang @ SLANG</br>Email: ray306 at gmail.com ; Main Website: <a>slang.science</a></footer>

</html>
